@font-face {
    font-family: 'twenty-characters';
    src: url('font/twenty-characters.eot');
    src: url('font/twenty-characters.eot?#iefix') format('embedded-opentype'),
         url('font/twenty-characters.woff') format('woff'),
         url('font/twenty-characters.ttf') format('truetype'),
         url('font/twenty-characters.svg#twentycharactersbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


.aaheader {

}

.aa {
    display:inline-block;
    width:1em;
    font-family: 'twenty-characters';
    text-align:center;
    cursor:pointer;
}

.R, .K {
    color:red;
}

.D, .E {
    color:magenta;
}

.S, .T, .N, .Q {
    color:green;
}

.C, .U, .G {
    color:orange;
}

.P {
    color:gold;
}

.H, .Y {
    color:cyan;
}

.A, .I, .L, .M, .F, .W, .V {
    color:blue;
}

.disorder {
    background-color:#bbb;
}
